@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

body {
  background: radial-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.95)), url('./assets/img/black-castle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100hw;
  color: black;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  height: fit-content;
  width: 100vw;
  justify-items: start;
  padding: 1.5rem;
  margin-left: 4rem;
}

nav ul {
  display: flex;
  flex-direction: row nowrap;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

nav a h1 {
  font-family: "Fleur De Leah", cursive;
  color: black;
  margin: 0;
}

nav a h2 {
  color: pink;
}

nav li {
  list-style-type: none;
  width: fit-content;
}